@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

#app{
    text-align: center;
    width: 800px;
    margin: auto;
}

.characters{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.item img{
    width: 200px;
}